* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-nosotros .titulo-historia {
  font-family: serif;
  font-size: 30px;
  font-weight: 700;
}

/*estilos globales*/
body {
  background-color: #091a2b;
}

/*header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  padding: 1.3rem 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #091a2b 40%, rgba(9, 26, 43, 0.2117647059) 90%);
  backdrop-filter: blur(70px);
  z-index: -1;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: 0.5s;
}
header:hover::after {
  left: 100%;
}
header .logo {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
}
header .icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
header #check {
  display: none;
}
header .navbar-1 .nav-menu {
  display: flex;
}
header .navbar-1 .nav-menu .menu {
  list-style: none;
}
header .navbar-1 .nav-menu .menu .menu-item {
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

/*footer*/
.contenedor-footer {
  display: flex;
  background-color: #091a2b;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
}
.contenedor-footer .contenedor-footer2 {
  width: 1fr;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor-footer .title-footer {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 30px;
  text-decoration: underline;
}
.contenedor-footer ul {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  color: #fff;
  column-gap: 5px;
}
.contenedor-footer ul li a {
  text-decoration: none;
  color: #fff;
}
.contenedor-footer ul li a .img-footer {
  width: 15px;
  height: 15px;
}
.contenedor-footer ul li a:hover {
  background-color: rgba(9, 26, 43, 0.4117647059);
  border-radius: 5px;
}

/*main index*/
.main-index .video {
  margin-top: 200px;
}
.main-index .video .w-100 {
  width: 100%;
  height: 700px;
}
.main-index .carousel-inner {
  top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-index .carousel-inner .img-carousel {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.main-index h1 {
  color: #fff;
  margin-top: 15px;
}
.main-index .contenedor-estilos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 15px;
}
.main-index .contenedor-estilos .card {
  display: flex;
  width: 400px;
  height: 500px;
  border-radius: 20px 0px;
  overflow: hidden;
  box-shadow: 10px 11px 13px 1px rgba(0, 0, 0, 0.75);
  position: relative;
}
.main-index .contenedor-estilos .card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.main-index .contenedor-estilos .card .descuento {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #091a2b;
  color: #fff;
  padding: 5px;
  border-radius: 0 0 0 5px;
}
.main-index .contenedor-estilos .card .card-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  height: 250px;
  margin: 10px;
}

/*main-nosotros*/
.main-nosotros {
  margin-top: 200px;
}
.main-nosotros .titulo-historia {
  color: #fff;
  text-align: center;
}
.main-nosotros .contenedor-historia {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding: 15px;
  margin: 10px;
}
.main-nosotros .contenedor-historia img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.main-nosotros .contenedor-historia p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  align-items: center;
}

/* contenedor estilos*/
.main-estilos .contenedor-estilos {
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 15px;
}
.main-estilos .contenedor-estilos .card2 {
  width: 600px;
  height: 650px;
  margin-top: 30px;
  background-color: #091a2b;
  border-radius: 20px 0px;
  overflow: hidden;
  box-shadow: 10px 11px 13px 1px rgba(0, 0, 0, 0.75);
}
.main-estilos .contenedor-estilos .card2 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.main-estilos .contenedor-estilos .card2 .card2-texto {
  color: #fff;
  font-size: 18px;
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

/*main galeria*/
.main-galeria {
  margin-top: 200px;
}
.main-galeria .title-galeria {
  color: #fff;
}
.main-galeria .grid-video {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
  margin-top: 0;
}
.main-galeria .grid-video .video-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-galeria .grid-galeria {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(6, 400px);
  grid-template-areas: "img1 img2" "img1 img2" "img5 img4" "img5 img4" "img6 img6" "img3 img3";
  margin: 1rem 3rem 3rem 3rem;
  gap: 1rem;
}
.main-galeria .grid-galeria .img1 {
  grid-area: img1;
}
.main-galeria .grid-galeria .img2 {
  grid-area: img2;
}
.main-galeria .grid-galeria .img3 {
  grid-area: img3;
}
.main-galeria .grid-galeria .img4 {
  grid-area: img4;
}
.main-galeria .grid-galeria .img5 {
  grid-area: img5;
}
.main-galeria .grid-galeria .img6 {
  grid-area: img6;
}
.main-galeria .grid-galeria div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*main-contacto*/
.main-contacto .grid-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-contacto .grid-2 .elemento1 {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./../img/imagen-contacto.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  padding: 15px;
  gap: 15px;
  width: 100%;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto .container-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto .container-info .links {
  display: flex;
  gap: 15px;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto .container-info .links a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: rgba(20, 140, 220, 0.212);
  text-align: center;
  border-radius: 5px;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto .container-info .links a:hover {
  background: rgba(9, 26, 43, 0.4117647059);
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto .container-info .links a i {
  position: relative;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto .container-info .links a i img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto .container-info h1 {
  text-align: left;
  letter-spacing: 5px;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto .container-info .datos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto form .input-box {
  position: relative;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto form .input-box input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: 0.3s;
  color: #fff;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto form .input-box textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.1);
  border: 3px solid transparent;
  letter-spacing: 1px;
  outline: none;
  transition: 0.3s;
  color: #fff;
  letter-spacing: 1.5px;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto form button {
  width: 100%;
  padding: 10px;
  outline: none;
  background: #091a2b;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.main-contacto .grid-2 .elemento1 .contenedor-contacto form button:hover {
  background: rgba(9, 26, 43, 0.4117647059);
}

.elemento2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  background-color: #091a2b;
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
}
.elemento2 .titulo-secundario {
  color: #fff;
}
.elemento2 .mapa {
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .contenedor-footer {
    display: grid;
    flex-direction: column;
    grid-template-columns: 50% 50%;
  }
  .contenedor-footer .contenedor-footer2 {
    flex-direction: column;
  }
  .grid-2 {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  header {
    padding: 1.3rem 5%;
  }
}
@media screen and (max-width: 768px) {
  header .icons {
    display: inline-flex;
  }
  header .icons #close-icon {
    display: none;
  }
  header #check:checked ~ .icons #close-icon {
    display: block;
  }
  header #check:checked ~ .icons #menu-icon {
    display: none;
  }
  header .navbar-1 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s ease;
  }
  header .navbar-1 .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .navbar-1 .nav-menu .menu .menu-item {
    display: flex;
    font-size: 1.1rem;
    margin: 15px;
    text-align: center;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s ease;
  }
  header #check:checked ~ .navbar-1 {
    height: 17.7rem;
  }
  header #check:checked ~ .navbar-1 .nav-menu .menu .menu-item {
    transform: translateY(0);
    opacity: 1;
    transition-delay: calc(0.15s * var(--i));
  }
  .main-galeria .grid-galeria {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 400px);
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
  }
  .main-galeria .grid-galeria .img1 {
    grid-area: img1;
  }
  .main-galeria .grid-galeria .img2 {
    grid-area: img2;
  }
  .main-galeria .grid-galeria .img3 {
    grid-area: img3;
  }
  .main-galeria .grid-galeria .img4 {
    grid-area: img4;
  }
  .main-galeria .grid-galeria .img5 {
    grid-area: img5;
  }
  .main-galeria .grid-galeria .img6 {
    grid-area: img6;
  }
  .main-contacto .grid-2 .elemento1 .contenedor-contacto {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  footer .contenedor-footer {
    display: grid;
    flex-direction: column;
    grid-template-columns: 100%;
  }
  footer .contenedor-footer .contenedor-footer2 {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
