*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: #252525;
}
.alerta{
    background-color: #fc0;
    padding: 5px;
    margin: 0;
    align-items: center;
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: center;
    text-decoration: none;
}
.alerta-item{
    color: #091a2b;
    text-decoration: none;
    font-family:sans-serif;
    font-weight:600;
    font-size: 15px;
}
.navbar-brand{
    align-items: center;
}

.menu ul li a{
    color: #252525;
}
.menu ul{
    align-items: end;
    padding-right: 15px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color:#091a2b !important;
}
.menu{
    flex-grow: 0;
}

.navbar-nav .nav-link.active {
    color: #fff;
}
.menu .link-menu:hover{
    background-color:#252525;
    border-radius: 10px;
}
.menu .link-menu{
    color: beige;
    flex-direction: row-reverse
}
.dropdown-menu {
    --bs-dropdown-bg: #212529;
}
.menu-icon{
    background-image: url(./../img/hamburger-list-menu-svgrepo-com.svg);
}
.menu-button{
    border: none;
}
.menu-button:focus {
    box-shadow: none;
}
.padding-0{
    padding: 0;
}
@media screen and (max-width: 991px){
    .menu{
        position: absolute;
        top: 160px;
        background-color: #091a2b;
        width: 100%;
        padding-left: 0px;
    }
}

.video{
    margin-top: 10px;
}

.w-100 {
    width: 100% !important;
    height: 700px;
}
.carousel-inner{
    margin-top: 10px;
}
.card {
    width: 380px;
    height: 400px;
    border-radius: 20px 0px;
    overflow: hidden;
    box-shadow: 10px 11px 13px 1px rgba(0,0,0,0.75);;
    position: relative;
}

.card img {
    width: 100%;
    height: 200px;
}

.contenedor-estilos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
}
.card-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 200px;
}

.descuento{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #1e1e1e;
    color: aliceblue;
    padding: 5px;
    border-radius: 0 0 0 5px;
}
form div label{
    color: white;
}

.contenedor-footer{
    display: flex;
    background-color:#091a2b;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    
}
.contenedor-footer2{
    width: 1fr;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    }
.contenedor-footer2 ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    color:rgb(48, 47, 47);
    column-gap: 5px;
}
.title-footer{
    color: rgb(48, 47, 47);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 30px;
    text-decoration: underline;
}
.contenedor-footer2 ul a{
    text-decoration: none;
    color:rgb(48, 47, 47);
}
.contenedor-footer2 ul li a:hover{
    background-color:#252525;
    border-radius: 5px;
}
.img-footer{
    width: 15px;
    height: 15px;
}
@media screen and (max-width: 1024px){
    .contenedor-footer{
        display: grid;
        flex-direction: column;
        grid-template-columns: 50% 50%;
    }
    .contenedor-footer2{
        flex-direction: column;
    }
}
@media screen and (max-width: 768px){
    .contenedor-footer{
        display: grid;
        flex-direction: column;
        grid-template-columns: 100%;
    }
    .contenedor-footer2{
        flex-direction: column;
    }
}