
header{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(26, 46, 1) 100%);
}

.header img{
    width: 300px;
    height: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
    position:sticky
}
.header nav ul{
    display: flex;
    column-gap: 15px;
    list-style: none;
    list-style-position: unset;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.header nav ul a{
    color:white;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 20px;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.card {
    width: 380px;
    height: 400px;
    border-radius: 20px 0px;
    overflow: hidden;
    box-shadow: 10px 11px 13px 1px rgba(0,0,0,0.75);;
    position: relative;
}

.card img {
    width: 100%;
    height: 200px;
}

.contenedor-estilos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 15px;
}
.card-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 200px;
}

.descuento{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #1e1e1e;
    color: aliceblue;
    padding: 5px;
    border-radius: 0 0 0 5px;
}
form div label{
    color: white;
}

footer {
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(26, 46, 1) 100%); 
}