//reseat
@import "utilities/reset";

@import "utilities/globals";

@import "components/header";

@import "components/footer";

@import "pages/main-index";

@import "pages/main-nosotros";

@import "pages/main-estilos";

@import "pages/main-galeria";

@import "pages/main-contacto";

@import "utilities/media-queries";




