/* contenedor estilos*/
.main-estilos{
    .contenedor-estilos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 15px;
        .card2{
            width: 600px;
            height: 650px;
            margin-top: 30px;
            background-color: #091a2b;
            border-radius: 20px 0px;
            overflow: hidden;
            box-shadow: 10px 11px 13px 1px rgba(0,0,0,0.75);;
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            .card2-texto{
                color: #fc0;
                font-size: 18px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                height: 150px;
            }
        }
    }
}