/*main index*/
.main-index{
    .video{
        margin-top: 200px;
        .w-100 {
            width: 100%;
            height: 700px;
        }
    }
    .carousel-inner{
        top: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .img-carousel{
            width: 100%;
            height: 700px;
            object-fit: cover;
        }
    }
    h1{
        color: $color-texto;
        margin-top: 15px;
    }
    .contenedor-estilos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 15px;
        .card{
            display: flex;
            width: 400px;
            height: 500px;
            border-radius: 20px 0px;
            overflow: hidden;
            box-shadow: 10px 11px 13px 1px rgba(0,0,0,0.75);
            position: relative;
            img{
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
            .descuento{
                position: absolute;
                top: 0px;
                right: 0px;
                background-color: $color-principal;
                color: $color-texto;
                padding: 5px;
                border-radius: 0 0 0 5px;
            }
            .card-texto{
                @include flex(column, center, nowrap, center);
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
                // text-align: center;
                height: 250px;
                margin: 10px;
            }
        }
    }
}