/*main-contacto*/
.main-contacto {
    .grid-2 {
        .elemento1 {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(rgba(0 0 0 / .8), rgba(0 0 0 / .8)), url(./../img/imagen-contacto.jpg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            .contenedor-contacto {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                padding: 20px;
                gap: 15px;
                width: 100%;

                .container-info {
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                    .links {
                        display: flex;
                        gap: 15px;
                        a {
                            text-decoration: none;
                            width: 40px;
                            height: 40px;
                            background: rgba(20, 140, 220, 0.212);
                            text-align: center;
                            border-radius: 5px;
                            &:hover{
                                background: rgba(20, 140, 220, 0.096);
                            }
                            i{
                                position:relative;
                                img{
                                    width: 40px;
                                    height: 40px;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    h1 {
                        text-align: left;
                        letter-spacing: 5px;
                    }

                    .datos {
                        display: flex;
                        flex-direction: column;
                        gap: 10px
                    }
                }

                form {
                    .input-box {
                        position: relative;
                        input {
                            width: 100%;
                            height: 40px;
                            padding: 10px;
                            margin-top: 5px;
                            outline: none;
                            background: rgba(255 255 255 / .1);
                            border: 3px solid transparent;
                            letter-spacing: 1px;
                            transition: .3s;
                            color: #fff;
                        }

                        textarea {
                            width: 100%;
                            height: 130px;
                            padding: 10px;
                            margin-top: 5px;
                            background: rgba(255 255 255 / .1);
                            border: 3px solid transparent;
                            letter-spacing: 1px;
                            outline: none;
                            transition: .3s;
                            color: #fff;
                            letter-spacing: 1.5px;
                        }
                    }

                    button {
                        width: 100%;
                        padding: 10px;
                        outline: none;
                        background:#091a2b;
                        color: #fff;
                        border: none;
                        cursor: pointer;
                        font-size: 15px;

                        &:hover {
                            background: #091a2ba6;
                        }
                    }
                }
            }
        }
    }
}

.elemento2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 5px;
    background-color: #272c30;
    border-radius: 15px;
    object-fit: cover;
    width: 100%;

    .mapa {
        object-fit: cover;
    }
}