/*main galeria*/
.main-galeria{
    .title-galeria{
        color: $color-texto;
    }
    .grid-video{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 500px;
        margin-top: 0;
        .video-galeria{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .grid-galeria{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(6,400px);
        grid-template-areas: 
        "img1 img2"
        "img1 img2"
        "img5 img4"
        "img5 img4"
        "img6 img6"
        "img3 img3";
        margin: 1rem 3rem 3rem 3rem;
        gap: 1rem;
        .img1{
            grid-area: img1;
        }
        .img2{
            grid-area: img2;
        }
        .img3{
            grid-area: img3;
        }
        .img4{
            grid-area: img4;
        }
        .img5{
            grid-area: img5;
        }
        .img6{
            grid-area: img6;
        }
        div{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            
            }
        }
    }
}