/*main index*/
.main-index {
    .video {
        margin-top: 200px;
        margin-left: 10px;
        margin-right: 10px;

        .w-100 {
            width: 100%;
            height: 700px;
        }
    }

    .carousel {
        margin: 10px;
        width: 98%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .carousel-inner {
            top: 10px;
            margin: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .img-carousel {
                width: 100%;
                height: 100vh;
                object-fit: cover;
            }
        }
    }



    h1 {
        color: $color-texto;
        margin-top: 15px;
    }


    .section-card {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        flex-wrap: wrap;

        .cards {
            position: relative;
            width: 400px;
            height: 500px;
            margin: 10px;

            &:hover .front {
                transform: perspective(600px) rotateY(180deg);
            }

            &:hover .back {
                transform: perspective(600px) rotateY(360deg);
            }

            .face {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                border-radius: 10px;
                overflow: hidden;
                transition: .5s;
            }

            .front {
                transform: perspective(600px) rotatey(0deg);
                box-shadow: 0 5px 10px #000;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: .70;
                }

                h2 {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 45px;
                    line-height: 45px;
                    color: #fff;
                    background: rgba(0, 0, 0, .4);
                    text-align: center;
                }
            }

            .back {
                transform: perspective(600px) rotateY(180deg);
                background: $color-principal;
                padding: 15px;
                color: #f3f3f3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                box-shadow: 0 5px 10px #e2e1e1;

                .link-card {
                    border-top: solid 1px #f3f3f3;
                    height: 50px;
                    line-height: 50px;

                    a {
                        color: #f3f3f3;
                    }
                }

                h3 {
                    font-size: 30px;
                    margin-top: 20px;
                    letter-spacing: 2px;
                }

                p {
                    letter-spacing: 1px;

                }
            }
        }
    }
}