/*main index*/
.main-index{
    .video{
        margin-top: 10px;
        .w-100 {
            width: 100% !important;
            height: 700px;
        }
    }
    .carousel-inner{
        margin-top: 10px;
        .img-carousel{
            width: 100%;
            height: 700px;
            object-fit: cover;
        }
    }
    .contenedor-estilos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 15px;
        .card{
            display: flex;
            width: 380px;
            height: 400px;
            border-radius: 20px 0px;
            overflow: hidden;
            box-shadow: 10px 11px 13px 1px rgba(0,0,0,0.75);
            position: relative;
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            .descuento{
                position: absolute;
                top: 0px;
                right: 0px;
                background-color: #1e1e1e;
                color: aliceblue;
                padding: 5px;
                border-radius: 0 0 0 5px;
            }
            .card-texto{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
                height: 200px;
            }
        }
    }
}