/* contenedor estilos*/
.main-estilos{
    .contenedor-estilos{
        margin-top: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 15px;
        .card2{
            width: 600px;
            height: 650px;
            margin-top: 30px;
            background-color: $color-principal;
            border-radius: 20px 0px;
            overflow: hidden;
            box-shadow: 10px 11px 13px 1px rgba(0,0,0,0.75);;
            img{
                width: 100%;
                height: 500px;
                object-fit: cover;
            }
            .card2-texto{
                color: $color-texto;
                font-size: 18px;
                text-align: center;
                height: 150px;
                @include flex(column, center, nowrap, center);
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
            }
        }
    }
}