/*main-nosotros*/
.main-nosotros {
    .titulo-historia {
        color: $color-texto;
        @extend %estilos;
        // font-family: serif;
        // font-size: 30px;
        // font-weight: 700;
        text-align: center;
    }

    .contenedor-historia {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        padding: 15px;
        margin: 10px;

        img {
            width: 100%;
            height: 600px;
            object-fit: cover;
        }

        p {
            color: $color-texto;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            align-items: center;
        }
    }
}