/*main-contacto*/
.main-contacto {
    .grid-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .elemento1 {
            margin-top: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background: linear-gradient(rgba(0 0 0 / .8), rgba(0 0 0 / .8)), url(./../img/imagen-contacto.jpg);
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            .contenedor-contacto {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                padding: 15px;
                gap: 15px;
                width: 100%;

                .container-info {
                    color: $color-texto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;

                    .links {
                        display: flex;
                        gap: 15px;

                        a {
                            text-decoration: none;
                            width: 40px;
                            height: 40px;
                            background: rgba(20, 140, 220, 0.212);
                            text-align: center;
                            border-radius: 5px;

                            &:hover {
                                background: $color-hover;
                            }

                            i {
                                position: relative;

                                img {
                                    width: 40px;
                                    height: 40px;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    h1 {
                        text-align: left;
                        letter-spacing: 5px;
                    }

                    .datos {
                        display: flex;
                        flex-direction: column;
                        gap: 10px
                    }
                }

                form {
                    .input-box {
                        position: relative;

                        input {
                            width: 100%;
                            height: 40px;
                            padding: 10px;
                            margin-top: 5px;
                            outline: none;
                            background: rgba(255 255 255 / .1);
                            border: 3px solid transparent;
                            letter-spacing: 1px;
                            transition: .3s;
                            color: $color-texto;
                        }

                        textarea {
                            width: 100%;
                            height: 130px;
                            padding: 10px;
                            margin-top: 5px;
                            background: rgba(255 255 255 / .1);
                            border: 3px solid transparent;
                            letter-spacing: 1px;
                            outline: none;
                            transition: .3s;
                            color: $color-texto;
                            letter-spacing: 1.5px;
                        }
                    }

                    button {
                        width: 100%;
                        padding: 10px;
                        outline: none;
                        background: $color-principal;
                        color: $color-texto;
                        border: none;
                        cursor: pointer;
                        font-size: 15px;

                        &:hover {
                            background: $color-hover;
                        }
                    }
                }
            }
        }
    }
}

.elemento2 {
    @include flex(column, center, wrap, center);
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    padding: 5px;
    margin: 5px;
    background-color: $color-principal;
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    .titulo-secundario{
        color: $color-texto;
    }

    .mapa {
        object-fit: cover;
    }
}