@media screen and (max-width: 1024px) {

    .contenedor-footer {
        display: grid;
        flex-direction: column;
        grid-template-columns: 50% 50%;

        .contenedor-footer2 {
            flex-direction: column;
        }
    }

    .grid-2 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    header {
        padding: 1.3rem 5%;
    }
}

@media screen and (max-width: 768px) {
    header {
        .icons {
            display: inline-flex;

            #close-icon {
                display: none;
            }
        }

        #check:checked~.icons #close-icon {
            display: block;
        }

        #check:checked~.icons #menu-icon {
            display: none;
        }

        .navbar-1 {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 0;
            background: rgba(0, 0, 0, .1);
            backdrop-filter: blur(50px);
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            overflow: hidden;
            transition: .3s ease;

            .nav-menu {
                display: flex;
                flex-direction: column;
                align-items: center;

                .menu {
                    .menu-item {
                        display: flex;
                        font-size: 1.1rem;
                        margin: 15px;
                        text-align: center;
                        transform: translateY(-50px);
                        opacity: 0;
                        transition: .3s ease;
                    }
                }
            }
        }
        #check:checked~.navbar-1 {
            height: 17.7rem;
        }
        #check:checked~.navbar-1 .nav-menu .menu .menu-item {
            transform: translateY(0);
            opacity: 1;
            transition-delay: calc(.15s * var(--i));
        }
    }


    .main-galeria {
        .grid-galeria {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(6, 400px);
            grid-template-areas:
                "img1"
                "img2"
                "img3"
                "img4"
                "img5"
                "img6";

            .img1 {
                grid-area: img1;
            }

            .img2 {
                grid-area: img2;
            }

            .img3 {
                grid-area: img3;
            }

            .img4 {
                grid-area: img4;
            }

            .img5 {
                grid-area: img5;
            }

            .img6 {
                grid-area: img6;
            }
        }
    }

    .main-contacto {
        .grid-2 {
            .elemento1 {
                .contenedor-contacto {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
    }

    footer {
        .contenedor-footer {
            display: grid;
            flex-direction: column;
            grid-template-columns: 100%;

            .contenedor-footer2 {
                flex-direction: column;
            }
        }
    }
}