@mixin flex($flex-direction, $align-items, $flex-wrap,$justify-content){
    display: flex;
    flex-direction: $flex-direction ;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
    justify-content: $justify-content;
}