/*footer*/
.contenedor-footer {
    display: flex;
    background-color: $color-principal;
    width: 100%;
    padding: 10px;
    margin-top: 15px;


    .contenedor-footer2 {
        width: 1fr;
        height: 100%;
        text-align: center;
        @include flex(row, center, wrap, center);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // text-align: center;
        // flex-wrap: wrap;
    }

    .title-footer {
        color: $color-texto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        margin-top: 30px;
        text-decoration: underline;
    }

    ul {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        text-decoration: none;
        list-style: none;
        color: $color-texto;
        column-gap: 5px;

        li {
            a {
                text-decoration: none;
                color: $color-texto;

                .img-footer {
                    width: 15px;
                    height: 15px;
                }

                &:hover {
                    background-color: $color-hover;
                    border-radius: 5px;
                }
            }
        }
    }
}